
/* ---- FONTS ---- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* ---- GENERAL ---- */
body {margin: 0%;padding: 0%;box-sizing: border-box;font-family: 'Open Sans', sans-serif;}
h1, h2, h3, h4, h5, h6, a, button {font-family: 'Open Sans', sans-serif;}
.headings {font-size: 40px;font-weight: 500;letter-spacing: .5px;line-height: 50px;color:#000000;}
.colorORtxt {color:#ef3b13;}
.colorBLtxt {color:#1b1d1d;}
.colorGRtxt {color:#6f7176;}
.paraText {color:#6f7176;font-size: 20px;font-weight: 500;}
.myBTN {color: #fff;background-color: #ef3b13;border-color: #ef3b13;border-radius: 4px; padding: 8px 25px;}

/* ---- Navbar ---- */
.logoMain {height:35px;}
.mainNavbar .navbar {padding: 20px 0px;}
.mainNavbar {}
.mainNavbar {}

/* ---- Banner ---- */
.bannerWrap {padding-top: 60px;padding-bottom: 60px;margin-top: 75px;}
.bannerWrap .bannerLeft {padding-top:10%;}
.bannerWrap .bannnerVdo img {max-height:330px;}
.bannerWrap {}
.bannerWrap {}







.bannerWrap {
}
/* ---- Media Query ---- */
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
}

/*Small devices  (575px and below)*/
@media (max-width: 575px) {
}





